Repository massuus/Vauthunters-Rewards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs}": ["eslint --fix", "prettier --write"],
  "*.{json,md,html,css}": ["prettier --write"]
}

Add rewards API key support and enhance fetchJson function with headers
  functions/api/profile.js
  functions/utils/fetch-utils.js
Due: eslint --fix, prettier --write

Implement rewards sets API integration and update set art management
  functions/api/sets.js
  public/data/set-art.json
  public/js/components/set-art-manager.js
  public/js/components/special-pages.js
Due: eslint --fix, prettier --write

added help link to link accounts
  public/pages/index.html
Due: prettier --write

teddy
  ROUTING.md
  public/README.md
  public/css/app.css
  public/data/codes.json
  public/data/set-art.json
  public/img/Teddy_Bear.gif
  public/js/components/special-pages.js
Due: eslint --fix, prettier --write

fixed image
  public/data/set-art.json
Due: prettier --write

Update codes.json
  public/data/codes.json
Due: prettier --write

Update set-art.json
  public/data/set-art.json
Due: prettier --write

added new rewards and click to code page in discriptions.
  public/css/app.css
  public/data/codes.json
  public/data/set-art.json
  public/img/Buster_Blade.gif
  public/img/Muddy_Elephant.gif
  public/js/components/set-art-manager.js
  public/js/components/special-pages.js
  public/js/features/reward-utils.js
Due: eslint --fix, prettier --write

Buster_Blade code added
  public/data/codes.json
Due: prettier --write

updated id's
  public/data/codes.json
  public/data/set-art.json
Due: prettier --write

fixed sculk_set image
  public/data/set-art.json
  public/img/sculk_set.gif
Due: prettier --write

fix again
  public/data/set-art.json
Due: prettier --write

lol
  public/data/set-art.json
Due: prettier --write

chore: migration to db
  dist-test/sw.js
  functions/api/sets.js
  public/pages/admin.html
Due: eslint --fix, prettier --write

UI overhaul
  .gitignore
  CODE_QUALITY.md
  README.md
  functions/api/profile.js
  functions/api/sets.js
  functions/utils/config.js
  public/css/app.css
  public/css/base.css
  public/css/components/footer.css
  public/css/components/hero.css
  public/css/components/search.css
  public/css/variables.css
  public/img/site-bg.webp
  public/img/site-logo.png
  public/index.html
  public/js/README.md
  public/js/components/profile-renderer.js
  public/js/components/special-pages.js
  public/js/handlers/search-handler.js
  public/pages/index.html
Due: eslint --fix, prettier --write

mobile fix
  public/css/app.css
  public/js/components/profile-renderer.js
Due: eslint --fix, prettier --write

orther mobile fix
  public/css/app.css
  public/js/components/profile-renderer.js
Due: eslint --fix, prettier --write

logo change
  public/css/components/hero.css
  public/img/reward.png
  public/img/site-logo.png
  public/img/vaulthunters_logo_color.svg
  public/index.html
  public/pages/index.html
Due: prettier --write

some lil fixes
  public/css/app.css
  public/css/components/hero.css
  public/js/components/profile-renderer.js
  public/js/core/app.js
Due: eslint --fix, prettier --write

change share button
  public/templates/player-card.html
Due: prettier --write

Added iskall85 patreon tier
  functions/api/profile.js
  functions/utils/config.js
  public/css/app.css
  public/img/badge/diamond.webp
  public/img/badge/emerald.webp
  public/img/badge/gold.webp
  public/img/badge/iron.webp
  public/img/badge/iskallium-diamond.webp
  public/js/components/profile-renderer.js
  public/js/components/special-pages.js
Due: eslint --fix, prettier --write

removed dubed file and some lil improvements.
  README.md
  package.json
  public/css/app.css
  public/css/components/pwa-install.css
  public/css/components/reward-codes-popup.css
  public/css/components/search.css
  public/index.html
  public/js/components/profile-renderer.js
  public/js/components/recent-section.js
  public/js/components/special-pages.js
  public/js/core/app.js
  public/js/features/press-feedback.js
  public/pages/index.html
  public/templates/recent-section.html
Due: eslint --fix, prettier --write

added offical server overview
  functions/api/server.js
  functions/utils/config.js
  public/css/app.css
  public/js/components/profile-renderer.js
  public/js/components/recent-section.js
  public/js/components/special-pages.js
  public/js/features/official-servers.js
  public/js/features/url-state.js
  public/js/handlers/search-handler.js
  public/pages/index.html
  public/templates/player-card.html
Due: eslint --fix, prettier --write

split up some big files
  .nvmrc
  README.md
  package-lock.json
  package.json
  public/css/app.css
  public/js/components/profile-interactions.js
  public/js/components/profile-renderer.js
  public/js/components/profile-sections.js
  public/js/components/special-pages.js
  public/js/components/special-pages/all-rewards-page.js
  public/js/components/special-pages/codes-page.js
  public/js/components/special-pages/servers-page.js
  public/js/features/url-state.js
  public/js/handlers/search-handler.js
  public/js/handlers/search-special-pages.js
  wrangler.toml
Due: eslint --fix, prettier --write

wrangler fix
  wrangler.toml
Due: none

woeps
  wrangler.toml
Due: none

come on
  wrangler.toml
Due: none

fix footer
  public/css/components/footer.css
  public/pages/index.html
Due: prettier --write

added new stuff
  public/data/set-art.json
  public/img/arry_axe.gif
  public/img/doomslayer.gif
  public/img/forsaken_set.gif
Due: prettier --write

added leadeder board
  README.md
  functions/api/leaderboard-refresh.js
  functions/api/leaderboard.js
  functions/api/profile.js
  functions/utils/config.js
  functions/utils/leaderboard.js
  public/css/app.css
  public/js/components/profile-interactions.js
  public/js/components/profile-renderer.js
  public/js/components/recent-section.js
  public/js/components/special-pages.js
  public/js/components/special-pages/leaderboard-page.js
  public/js/features/leaderboard.js
  public/js/features/url-state.js
  public/js/handlers/search-special-pages.js
  public/pages/index.html
  public/sw.js
  public/templates/player-card.html
  public/templates/recent-section.html
  wrangler.toml
Due: eslint --fix, prettier --write

better mobile leaderboard
  public/css/app.css
  public/js/components/recent-section.js
  public/js/components/special-pages/leaderboard-page.js
Due: eslint --fix, prettier --write

Golf enjoyer
  public/data/codes.json
Due: prettier --write
